body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padre{
  text-align: center;
  border: 1px solid #111;
  padding: 5%;
}
.componentes{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.componente{
  border: 1px solid #111;
  width: 25%;
  margin-top: 20px;
}

.controles{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.control{
  border: 1px solid #111;
  padding: 10px;
}
.control:hover{
  cursor: pointer;
}

.centrar{
  text-align: center;
}

.cont-tabla{
  text-align: center;
  padding: 10px;
}
.cont-tabla table{
  width: 100%;
  border-collapse: collapse;
}
.cont-tabla th{
  height: 50px;
  background-color: blue;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}
.cont-tabla td{
  height: 50px;
  border: 1px solid cadetblue;
  padding: 5px 10px;
}
.trColor{
  background-color: cadetblue;
  color: #fff;
}
.trColor td{
  border: 1px solid #fff;
}
@media (max-width:720px){
  .cont-tabla{
    overflow-x: scroll;
  }
}